<app-header></app-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="calendarOptions">
          <!-- <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar> -->
          
          <ng-fullcalendar #ucCalendar [options]="calendarOptions" (dayClick)="navLinkDayClick($event.detail)"></ng-fullcalendar>
        </div>
      </div>
    </div>
  </div>
</section>