header {
	background: #00aeed;
	width: 100%;
	float: left;
	text-align: center;
}
header h5 {
	color: #fff;
	line-height: 24px;
	letter-spacing:2px;
}
header .home_btn {
	padding-top: 5px;
}
header .home_btn h5 {
	font-size: 14px;
	margin: 0px;
}
header .home_btn h5 img {
	float: left;
}
header .home_btn h5 span {
	margin: 7px 0px 0px 10px;
	float: left;
}
.logo {
	float: left;
}
.main_content {
	float: left;
	width: 100%;
	padding-top: 80px;
}
.main_content h2 {
	color: #4e4e4e;
	font-size: 40px;
}
.main_content p {
	color: #4e4e4e;
	font-size: 30px;
	margin-top: 30px;
}
.main_content form {
	margin-top: 60px;
}
form.name_search input[type=text] {
	padding: 20px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 70%;
	background: #f9f9f9;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
}
form.name_search button {
	float: left;
	width: 30%;
	padding: 18px;
	background: #00aeed;
	color: #fff;
	font-size: 21px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	border-radius: 35px;
	margin-left: -30px;
	letter-spacing: 4px;
	margin-top: -1px;
}
form.name_search button:hover {
	background: #00aeed;
}
form.name_search::after {
	content: "";
	clear: both;
	display: table;
}
input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: none;
}
.choose {
	list-style: none;
	margin: 50px auto;
}
.choose li {
	float: none;
	display: inline-block;
	margin-right: 50px;
	width: 20%;
}
.choose li p {
	font-size: 22px;
}
.span4 {
	width: 30%;
	float: left;
	margin: 0 1px 10px 8px;
}
.phone {
	margin-top: 15px;
	background: #fff;
}
.tel {
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #9e9e9e;
	border-radius: 0px;
}
.mobile_look_key {
	width: 100%;
	float: left;
	margin-top: 80px;
}
.num-pad {
	padding-left: 15px;
}
.num {
	border: 1px solid #00aeed;
	-webkit-border-radius: 999px;
	border-radius: 999px;
	-moz-border-radius: 999px;
	background-color: #fff;
	color: #00aeed;
	cursor: pointer;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-bottom: 10px;
}
.num:hover {
	background-color: #fff;
	color: #fff;
	transition-property: background-color .2s linear 0s;
	-moz-transition: background-color .2s linear 0s;
	-webkit-transition: background-color .2s linear 0s;
	-o-transition: background-color .2s linear 0s;
	box-shadow: 1px 1px 16px #ccc;
}
.txt {
	font-size: 30px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #00aeed;
	height: 100%;
	line-height: 85px;
}
.small {
	font-size: 15px;
}
.btn {
	font-weight: bold;
	-webkit-transition: .1s ease-in background-color;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}
.btn:hover {
	transition-property: background-color .2s linear 0s;
	-moz-transition: background-color .2s linear 0s;
	-webkit-transition: background-color .2s linear 0s;
	-o-transition: background-color .2s linear 0s;
}
.spanicons {
	width: 72px;
	float: left;
	text-align: center;
	margin-top: 40px;
	color: #9e9e9e;
	font-size: 30px;
	cursor: pointer;
}
.spanicons:hover {
	color: #3498db;
	transition-property: color .2s linear 0s;
	-moz-transition: color .2s linear 0s;
	-webkit-transition: color .2s linear 0s;
	-o-transition: color .2s linear 0s;
}
.active {
	color: #3498db;
}
.right_main_input_sec {
	border: 2px solid #eaeaea;
	width: 100%;
	min-height: 320px;
	border-radius: 68px;
	padding: 25px 25px;
	margin: 60px 0px;
}
.right_main_input_sec p {
	font-size: 17px;
	line-height: 20px;
	margin-top: 15px;
}
.right_main_input_sec .form-control {
	border: none;
	box-shadow: none;
	font-size: 60px;
	color: #00aeed;
	text-align: center;
	text-shadow: 1px 2px 3px #ccc;
}
.right_main_input_sec h5 {
	font-size: 22px;
	font-weight: 600;
	color: #666;
	margin-top: 25px;
}
.right_main_input_sec .btn-group {
	margin-top: 50px;
}
.right_main_input_sec .btn-group a {
	padding: 15px 30px;
	color: #828282;
	letter-spacing: 2px;
	border-radius: 30px;
	text-decoration: none;
}
.right_main_input_sec .btn-group a.active {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	padding: 15px 30px;
	color: #fff;
	letter-spacing: 2px;
	border-radius: 30px;
}
.right_main_input_sec .btn-group a:hover {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	color: #fff;
}
.service_content h2 {
	color: #838383;
	font-size: 25px;
}
.service_content span {
	color: #000;
}
.service_content p:nth-child(1) {
	color: #838383;
    font-size: 17px;
    padding-left: 20px;
    margin-bottom: 0;
}

.service_content p{
	color: #313131;
}

.service_content p span {
	color: #00aeed;
	text-decoration: underline;
}
.services {
	/*float: left;
	width: 100%;*/
	/*height: 412px;*/
	/*overflow: scroll;*/
	background: #fff;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;.
    margin-top: 10px;
}
.services .service_box {
	width: 100%;
	/*border: 1px solid #ededed;
	box-shadow: 1px 1px 10px #f7f4f4;*/
	padding: 10px 0px;
	/*float: left;*/
	margin-bottom: 30px;
	/*background: #fdfdfd;*/
	display: inline-block;
}
.services .service_box .price_box {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #00bff2;
	box-shadow: 1px 1px 5px #f7f4f4;
}
.services .service_box .price_box:hover {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	color: #fff;
	cursor: pointer;
}

.services .service_box h4 {
	font-size: 15px;
	line-height: 20px;
	color: #313131;
	margin-top: 5px;
}
.services .service_box .price_box h5 {
	text-align: center;
	line-height: 27px;
    font-size: 14px;
}
.main_view {
	width: 100%;
	float: left;
}
footer {
	width: 100%;
	float: left;
	padding: 20px 0px;
}
.ser_btn .btn-group a {
	padding: 15px 30px;
	color: #fff;
	letter-spacing: 2px;
	border-radius: 30px;
	border: 1px solid #0cb1ed;
	color: #0cb1ed;
	text-decoration: none;
}
.ser_btn .btn-group a:first-child {
	margin-right: 10px;
}
.ser_btn .btn-group a.active {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	color: #fff;
	display: inline-block;
}
.phone_check span {
	color: #a1a1a1;
	font-size: 14px;
	text-decoration: underline;
	line-height: 50px;
}
.log_background {
	background: url(https://wiseapps.online/paris/assets/images/image.png) no-repeat top;
	float: left;
	width: 100%;
}
.log-In-icon img {
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
	margin: 70px 0px;
	border-radius: 50%;
}
.log_scrn_content {
	background: rgba(230, 215, 240, 0.8) none repeat scroll 0% 0%;
	width: 100%;
	float: left;
}
.log_scrn_content h1 {
	text-align: center;
	color: #ed008c;
	letter-spacing: 1px;
}
.log_scrn_content h1 span {
	color: #00aeed;
	font-weight: 600;
}
.log_scrn_content h3 {
	color: #707070;
	text-align: center;
}
.log-in-from {
	width: 90%;
	padding: 50px;
	margin: 0 auto;
}
.log-in-from .alert-danger {
	background: #e76bbd;
	color: #fff;
}
.log-in-from .input-group-addon {
	background: #fff;
	border: 0px;
}
.log-in-from input {
	min-height: 48px;
	border: 0px;
}
.log-in-from .input-group {
	margin-bottom: 15px;
}
.log-in-from .input-group-addon .fa {
	width: 35px;
	height: 35px;
	line-height: 25px;
	border-radius: 50%;
	border: 1px solid #ccc;
	padding: 4px;
}
.log-in-from .btn-group {
	width: 100%
}
.log-in-from .btn-group a.active {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	color: #fff;
	display: inline-block;
	padding: 15px 40px;
	letter-spacing: 2px;
	border-radius: 30px;
	border: 1px solid #0cb1ed;
	text-decoration: none;
	margin-top: 15px;
	border: 0px;
}
.log-in-from .btn-group a {
	color: #7a7a7a;
	margin-top: 30px;
}
.waiting-list {
	float: left;
	width: 100%;
	margin-top: 15px;
	height: 700px;
	overflow: scroll;
}
.waiting-list .service_box {
	width: 100%;
	border: 1px solid #ededed;
	box-shadow: 1px 1px 10px #f7f4f4;
	padding: 15px 0px;
	float: left;
	margin-bottom: 15px;
	background: #fdfdfd;
}
.waiting-list .service_box .no {
	padding-top: 18px;
	padding-bottom: 18px;
	border-right: 1px solid #666;
	padding-left: 2px;
}
.waiting-list .service_box .no h5 {
	margin: 0px;
	line-height: 30px;
	color: #000;
	font-size: 16px;
}
.waiting-list .service_box .no h5 img {
	float: left;
}
.waiting-list .service_box .no h5 span {
	float: left;
}
.round_name {
	width: 100%;
	margin: 0 auto;
}
.round_name h5 {
	color: #fff;
	background: #ed008c;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	line-height: 60px;
	font-size: 16px;
	letter-spacing: 1px;
	box-shadow: 1px 2px 13px #ccc;
}
.waiting-list-icon ul {
	padding: 0px;
	width: 100%;
	float: left;
}
.waiting-list-icon ul li {
	list-style: none;
	width: 70px;
	margin-right: 16px;
	display: inline-block;
	text-align: center;
	margin-top: 3px;
}
.waiting-list-icon ul li:last-child {
	margin-right: 0px;
}
.waiting-list-icon ul li img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #808080;
	text-align: center;
	padding-top: 0px;
}
.waiting-list-icon ul li span {
	width: 100%;
	float: left;
	margin-top: 4px;
	color: #8d8d8d;
	font-size: 13px;
	clear: both;
}
.waiting-list .service_box .price_box {
	padding-top: 10px;
	padding-bottom: 7px;
	border-left: 1px solid #666;
	padding-left: 2px;
	text-align: center;
}
.waiting-list .service_box .price_box h5 {
	line-height: 30px;
	color: #000;
	font-size: 16px;
}
.waiting-list .service_box .price_box h5 span {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #666;
	padding-top: 0px;
	font-size: 14px;
	line-height: 23px;
	display: inline-block;
}
.n-act h5 {
	background: #00adec;
}
.waiting-list-content h4 {
	color: #000;
	font-size: 17px;
	margin-bottom: 5px;
	margin-top: 12px;
}
.waiting-list-content h4 span {
	color: #939393;
	font-size: 13px;
}
.waiting-list-content p {
	color: #939393;
	font-size: 15px;
}
.right-side-icon-menu {
	width: 100%;
	float: right;
	margin-bottom: 0px;
}
.right-side-icon-menu li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}
.right-side-icon-menu li:last-child {
	margin: 0px;
	margin-top: 3px;
}
.customer-list {
	float: left;
	width: 100%;
	margin-top: 15px;
	height: 520px;
	overflow-y: scroll;
}
.customer-list .service_box {
	width: 100%;
	border: 1px solid #ededed;
	box-shadow: 1px 1px 10px #f7f4f4;
	padding: 15px 0px;
	float: left;
	margin-bottom: 15px;
	background: #fdfdfd;
}
.customer-list-search {
	width: 100%;
	float: left;
	margin-top: 25px;
}
.customer-list-search .form-control {
	height: 48px;
	color: #5fccf3;
	background-color: #fff;
	border: 1px solid #5fccf3;
	border-radius: 30px;
}
.customer-list-search .glyphicon-search:before {
	content: "\e003";
	color: #5fccf3;
	margin: 6px 20px 0px 0px;
	float: right;
}
.customer-list .service_box .round_name h5 {
	color: #0db2ed;
	font-weight: 600;
	background: #fff;
	border: 1px solid #0db2ed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	line-height: 60px;
	font-size: 16px;
	letter-spacing: 1px;
	box-shadow: 1px 2px 13px #ccc;
}
.customer-list .service_box .c-name {
	margin-top: 15px;
	font-size: 17px;
	line-height: 34px;
}
.customer-list .service_box .c-ph-no {
	margin-top: 15px;
	font-size: 17px;
	line-height: 34px;
	color: #666;
	text-align: center;
}
.customer-list .service_box .last-visit {
	margin-top: 15px;
	font-size: 17px;
	line-height: 34px;
	color: #666;
}
.complete {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	color: #fff;
	display: inline-block;
	padding: 15px 30px;
	letter-spacing: 2px;
	border-radius: 30px;
	border: 0px;
	width: 100%;
	text-decoration: none;
	text-align: center;
}
.ticket_details {
	padding: 25px;
	margin: 40px auto;
	width: 90%;
}
.ticket_round {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	color: #fff;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	text-align: center;
	margin-right: 24px;
	float: left;
	margin-bottom: 30px;
	padding: 20px;
}
.ticket_round h6 {
	line-height: 15px;
}
.ticket_round img {
	margin-top: 5px;
}
footer .btn-group {
	width: 100%
}
footer .btn-group span {
	font-size: 22px;
	line-height: 35px;
	margin-top: 10px;
}
.vnail { background:url(https://wiseapps.online/paris/assets/XD/tick_back.png) no-repeat bottom;}
.customer-list .service_box_list_item {
	width: 100%;
	border: 1px solid #ededed;
	box-shadow: 1px 1px 10px #f7f4f4;
	padding: 15px 0px;
	float: left;
	margin-bottom: 2px;
	background: #f2f2f2;
}
.service_box_list_item h4 {
	line-height: 45px;
	font-size: 15px;
}
.service_box_list_item .round_name h5 {
	color: #44c0ed;
	/* background: #ed008c;*/
	background: transparent;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	line-height: 60px;
	font-size: 16px;
	letter-spacing: 1px;
	box-shadow: 1px 2px 13px #ccc;
	border: 1px solid #44c0ed;
}
.service_box_list_item .round_name a {
	text-decoration: none;
}
.service_box_list_item .round_name h5:hover {
	background: #ed008c;
	border: 1px solid #ed008c;
	color: #fff !important;
}
.service_box_list_item .round_name .active h5 {
	background: #ed008c;
	color: #fff !important;
	text-decoration: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #ed008c;
}
.customer-list .service_box_list_item:last-child {
	background: #fff;
}
.customers_details {
	margin: 60px 0px 20px 0px;
	float: left;
	width: 100%;
}
.left_tab_group ul {
	padding: 0px;
}
.left_tab_group {
	width: 5%;
	float: left;
	border-right: 1px solid #e0e4e6;
	height: 100vh;
}
.left_tab_group ul li {
	list-style: none;
	border-left: 1px solid #2fbdf0;
	border-right: 1px solid #e0e4e6;
	border-top: 1px solid #2fbdf0;
	border-bottom: 1px solid #2fbdf0;
	margin-bottom: 0px;
	width: 60px;
	height: 120px;
	border-top-left-radius: 50px;
	text-align: center;
	background: #fff;
	padding-top: 20px;
	position: relative;
	margin-top: -25px;
}
.left_tab_group ul .active {
	border-left: 1px solid #f02fa1;
	border-bottom: 1px solid #f02fa1;
	border-top: 1px solid #f02fa1;
	border-right: 0px;
}
/*.left_tab_group .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: transparent !important;
	border: 0px !important;
}*/
.c_details_content {
	float: left;
	width: 94%;
}
.c_head_panel {
	float: left;
    background: #dcdcdc;
    width: 100%;
    padding: 17px 0px;
    margin-top: -25px;
}
.c_head_panel .btn-group { width:100%;}
.c_head_panel .btn-group  a.active {
    background:#00aeed;
    color: #fff;
    display: inline-block;
	padding: 15px 30px;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 30px;
    border: 1px solid #0cb1ed;
   
    text-decoration: none; margin-top:5px;
}
.c_head_panel .btn-group span{ line-height:62px; font-size:16px; text-transform:uppercase; color:#555;}






.select-employee{
	padding: 50px 0;
}

.select-employee a{
	text-decoration: none !important;
	color: #666;
}

.pf-img{
	border-radius: 50%;
	border: 2px solid #ed008c;
	width: 120px;
	height: 120px;
}

.add-icon{
	border-radius: 50%;
	border: 2px solid #ed008c;
	width: 120px;
	height: 120px;
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%);
	color: #fff;
	font-size: 30px;
	line-height: 4;
}

.column_margin{
	margin: 30px 0;
}

.top-m-a{
	margin-bottom: 80px;
}

.sm-img{
	width: 60px;
	height: 60px;
}

.pf-details h3{
	margin:0;
	color: #4e4e4e;
}

.pf-details p{
	margin:0;
	color: #4e4e4e;
	font-weight: 100;
	font-size: 20px;
}

.pf-details span{
	color: #666;
	font-size: 18px;
}

.customer_search_btn{
	background: #dcdcdc;
	color: #00bff2;
}

.btn-group > .customer_search_btn:hover, .btn-group > .customer_search_btn:focus{
	color: #00bff2;
}

.edit-btn{
	padding: 6px 40px;
	color: #555;
	border: 1px solid #555;
	border-radius: 20px;
	text-decoration: none !important;
	font-size: 20px;
}

.full-border{
	border: 1px solid #ccc;
	display: inline-block;
	width: 50%;
	margin: 0px 30px;
	padding: 7px 10px;
}

.customer-details{
	display: inline-block;
	width: 100%;
	padding-top: 15px;
}

.right-border{
	border-right: 1px solid #a3a3a3;
}

.customer-details label{
	color: #a3a3a3;
	font-weight: 100;
	font-size: 17px;
}

.form-bg{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 30px;
}

.form_submit_btn{
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%) !important;
	padding: 11px 30px !important;
	color: #fff !important;
	letter-spacing: 2px !important;
	border-radius: 30px !important;
}

.modal-header {
	padding-bottom: 5px;
}

.no-border{
	border: none !important;
}

.modal-header .colse-btn{
	position: absolute !important;
    right: -14px !important;
    top: -12px !important;
    opacity: 1;
    background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%) !important;
    padding: 5px 10px;
    color: #fff;
    border-radius: 50%;
}

.modal-header .colse-btn:hover{
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%) !important;
	color: #fff;
	opacity: 1;
}

.c_head_panel .btn-group:focus{
	outline: none !important;
}

a:focus{
	outline: none !important;
}

.conent-bdr{
	border: 5px solid #00aeed !important;
}

.modal-body img{
	width: 100px;
}

.nav-tabs > li.active > a{
	
}

.nav-tabs li a{
	color: #00bff2;
}
.nav-tabs li a i{
	font-size: 22px;
}

.nav-tabs > li.active > a {
    color: #ed008c !important;
    cursor: default;

}

.new-tab{
	padding: 15px 0;
    display: inline-block;
    width: 100%;
}

.new-tab ul li{
	border:1px solid #00bff2 !important;
	padding: 0px !important;
	border-radius: 15px 15px 0 0 !important;
}

.new-tab ul li a{
	border: none !important;
	border-radius: 15px 15px 0 0;
}

.new-tab ul li.active{
	    border: 1px solid #f02fa1 !important;
	    color: #f02fa1 !important;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent !important;
}

.pf-panel{
	background: #dcdcdc;
    width: 100%;
    margin-top: 15px;
    display: inline-block;
    padding: 15px 0;
}

.full-sky-border{
	border-bottom: 1px solid #00bff2 !important;
}

.Search-btn{
	border: none;
	color: #00bff2;
	padding-top: 18px;

}

.Search-btn:hover{
	background-color: transparent;
	color: #00bff2;
}

.Search-btn:focus{
	outline: none;
	background-color: transparent;
	color: #00bff2;
}

.gray-bg{
	background-color: #f9f9f9;
	display: inline-block;
	width: 100%;
}

.service_top{
	display: inline-block;
	width: 100%;
}

.service_top i{
	font-size: 13px;
    color: #000;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid#ccc;
}

.customer-details input[type="text"]{
	border: none;
	width: 100%;
	color: #a3a3a3;
	font-size: 17px;
	background: #f9f9f9;
}

.customer-details input[type="text"]:focus{
	box-shadow: none !important;
}

/*.manicue_head{
	background: #dcdcdc;
	display: inline-block;
	width: 100%;
}*/

.manicue{
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	min-height: 650px;
}

.manicue .media{
	overflow: unset;
	display: inline-block;
	width: 100%;
	background: #dcdcdc;
	padding: 10px 0;
}

.media-heading{
	margin-top: 20px;
	font-size: 20px;
}

.service-field{
	width: 100%;
	margin: 0;
	background: #f9f9f9;
	box-shadow: 1px 1px 5px #ccc;
	border: none;
}

.manicue-description-box{
	background: #f9f9f9;
	margin-top: 15px;
	min-height: 190px;
	padding: 15px;
	box-shadow: 1px 1px 5px #ccc;
}

.down-btns button{
	background: transparent;
	border: none;
	font-size: 15px;
	font-weight: 100;
}

.sky-done-btn{
	border: 1px solid #00bff2 !important;
	padding: 7px 35px;
	border-radius: 36px;
	color: #00bff2;
}

.mb-0{
	margin-bottom:0 !important;
}

.mt-15{
	margin-top: 15px !important;
}

.pf-name{
	margin-top: 17px !important;
}

.block-btn{
	background: transparent;
	border: none;
	color: #787878;
	margin-top: 17px;
}

.block-btn .fa-user-times{
	border: 1px solid #787878;
	border-radius: 50%;
	padding: 5px 4px;
}

.tech-pf-top{
	margin-top: 0;
}

.service_top .fa-check{
	color: #00bff2;
}

.tech-gen-text{
	font-size: 20px !important;
}

.refresh-btn{
	background: transparent;
	border: none;
	color: #00bff2;
}

.side-pad .nav-tabs > li.active > a{
	background-color: #dcdcdc !important;
	margin:0;
}

.tech-body{
	overflow-x: hidden;
}

.pb-50{
	padding-bottom: 50px;
}

.bg-none{
	background: none !important;
	box-shadow: none !important;
}

.home-list{
	display: inline-block;
	width: 100%;
	margin: 155px 0;
}

.home-list a{
	text-decoration: none;
}

.round-white-bg{
	background-color: #fff;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
	border-radius: 50%;
	padding: 18px;
	margin:40px;
}

.round-white-bg img{
	width: 60px;
	height: 60px;
}

.round-white-bg p{
	color: #4e4e4e;
}

.clear{
	clear: both;
}

.technician-application-list{
	margin-top: 5px;
}

.technician-application-list tr{
	background-color: #f9f9f9;
	color: #666;
	border-bottom: 12px solid #fff;
}

.shadow_none{
	box-shadow: none !important;
}

.technician-application-list td{
	border-top: none !important;
}

.triangle-right {
	background: url(https://wiseapps.online/paris/assets/images/pink-arrow.png) no-repeat top right;
}

.triangle-right p{
	font-size: 18px;
    padding: 4px 50px;
}

.triangle-right .active{
	color: #fff;
}

.event_list ul{
	padding: 0;
}

.event_list ul li {
    list-style: none;
    color: #666;
    /*padding: 10px;*/
    margin: 5px 0;
    height: 40px;
    overflow: hidden;
}

.light-bg{
	background-color: #dcdcdc;
}

.pink-bg{
	background-color: #efd8e8;
}

.purple-bg{
	background-color: #c1c7e5;
}

.green-bg{
	background-color: #b2edce;
}

.light-sky-bg{
	background-color: #97deef;
}

.appo_round_img {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 18px 0 6px;
}
.pink_border_top{border-top: 2px solid #ed008c;}
.blue_border_top{border-top: 2px solid #108dc8;}
.red_border_top{border-top: 2px solid #f12323;}


.cal_main {
    background: #00aeed;
    padding: 5px;
    float: left;
}
.cal_head {
    width: 100%;
    float: left;
    color: #fff;
    padding: 5px 0 8px;
    font-size: 18px;
    text-transform: uppercase;
}
.date_text {
    background: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
    float: left;
    font-size: 48px;
    font-weight: 700;
    max-height: 70px;
    line-height: 69px;
}
.month_text{ text-align:left;}
.year_text{ text-align:right;}

.emp_sec, .sidebar {
    margin-top: 15px;
    padding: 0 5px;
}

.evnt_sec{
    float: left;
    width: 100%;
    padding: 0px;
}
.no_margin{ margin:0 !important;}
.time_sec {
    width: 100%;
    float: left;
    position: relative;
    z-index: 99;
}
.time_sec ul{ list-style:none; padding:0; margin:0;}
.time_sec ul li {
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 0 15px;
    text-align: right;
    font-weight: 700;
}

.arrow_box {
	position: relative;
	background: #108dc8;
	border: 4px solid #c2e1f5;
	color:#fff; 
}
.arrow_box_pink {
	position: relative;
	background: #ed008c;
	border: 4px solid #c2e1f5;
	color:#fff; 
}

.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_pink:after, .arrow_box_pink:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
/*.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}*/
.arrow_box:before {
	border-color: transparent;
	border-left-color: #108dc8;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box_pink:before {
	border-color: transparent;
	border-left-color: #ed008c;
	border-width: 20px;
	margin-top: -20px;
}

.arrow_box:before.pink {
	border-left-color: #ed008c;
}
.arrow_box:before.blue {
	border-left-color: #108dc8;
}
.arrow_box:before.red {
	border-left-color: #f12323;
}
.appo_round_img p {
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
}

.carousel-control {
    background: transparent !important;
}





.p-1{
	padding: 4px;
	padding-top:0;
}

.active_box{
	max-height: 40px;
}

.show_calender img{
	width: 100%;
	margin: 15px 0 10px 0;
}

.customer-details .technician-application-list tr:hover{
	background-color: #f02fa1;
	color: #fff;
}

.enable_section .sky_border{
	border-right: 3px solid #00bff2 !important;
}

.disable_section .pink_border{
	border-right: 3px solid #f02fa1 !important;
}

.disable_section .waiting-list-content h4 {
	color: #939393 !important;
}



.fixed {
    position: fixed;
    top: 0;
    width: auto;
    z-index: 999;
}

/*.window_height{ 
    overflow: scroll;
    float: left;
    width: 100%;
}
*/

.event_list .fixed{ background:#fff;    width: 178px;}



@media only screen and (max-width: 768px){
	.round-white-bg{
		margin: 40px 15px;
	}
}

@media only screen and (max-width: 912px){
	.pf-details span{
		font-size: 13px;
		font-weight: 600;
	}
}

/*Subrata CSS*/

.full-border1{
	/*border: 1px solid #ccc;*/
	display: inline-block;
	width: 50%;
	margin: 0px 30px;
	padding: 7px 10px;
}

.service-field1{
	width: 100%;
	margin: 0;
	background: #f9f9f9;
	/*box-shadow: 1px 1px 5px #ccc;*/
	border: none;
}

.services .service_box .active {
	background-image: linear-gradient(to right, #E55D87 0%, #c16fc2 51%, #69b0e6 100%) !important;
	color: #fff;
	cursor: pointer;
}

.event_list ul li div div{
	padding: 10px;
	/*background-color: green;*/
	color: #6E6E6E;
	position: absolute;
	width: 100%;
	text-align: center;
}
/*End of Subrata CSS*/