<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-left  hidden-sm hidden-xs">
        <div class="home_btn"> <a href="#" routerLink="/emp-dashboard">
          <h5><img src="https://wiseapps.online/paris/assets/images/home-icon.png" alt="iocn"><span>Home</span> </h5>
          </a> </div>
      </div>
      <div class="col-sm-4 text-center">
        <h5 class="mdl_text">{{ title }}</h5>
      </div>
      <div class="col-sm-4 text-right  hidden-sm hidden-xs">
        <ul class="right-side-icon-menu">
          <li> <a href="#"><img src="https://wiseapps.online/paris/assets/images/hedaer_icon_bell.png" alt="icon"></a> </li>
          <li> <a href="#"><img src="https://wiseapps.online/paris/assets/images/hedaer_icon_cart.png" alt="icon"></a> </li>
          <li> <a (click)="employeeLogout()"><img src="https://wiseapps.online/paris/assets/images/hedaer_icon_avt.png" alt="icon"></a> </li>
        </ul>
      </div>
    </div>
  </div>
</header>