<app-header></app-header>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="ass-bg">
        <div class="col-md-4 col-sm-4">
          <div class="col-md-4 col-sm-3">
            <div class="round_name"> <a href="#">
              <h5> K.S </h5>
              </a> </div>
          </div>
          <div class="col-md-8 col-sm-9 ticket_owner_name">
            <p>Kathy Smith</p>
            <small>Appointment</small>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <p class="ticket-date"><span><i class="fa fa-calendar" aria-hidden="true"></i></span> 21.06.2018</p>
        </div>
        <div class="col-md-3 col-sm-3">
          <p class="ticket-date"><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> 10.14.21</p>
        </div>
        <div class="col-md-2 col-sm-2">
          <p class="total-amount">Total: <span> $150</span></p>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="services m-b-0 square_bg_box">
          <div class="col-md-12 col-sm-12">
            <div class="service_box m-b-0">
              <div class="col-md-2 col-sm-4">
                <div class="price_box round_price">
                  <h5>$50</h5>
                </div>
              </div>
              <div class="col-md-8 col-sm-8">
                <h4 class="price_heading">CND Island Tropical Pedicure</h4>
              </div>
              <div class="col-md-2 col-sm-2">
                <p class="text-right">Sean Than <br/> <span>Confirmed</span></p>
              </div>
            </div>
          </div>      
        </div>
        <div class="waiting_content">
          <div class="waiting-list height-auto">
            <div class="service_box">
              <div class="col-sm-2">
                <div class="round_name">
                  <h5> AS</h5>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="waiting-list-icon list-width">
                  <ul>
                    <li> <a href="#"><img src="images/plus.png"alt="icon"> <span>Change service</span> </a> </li>
                    <li> <a href="#"><img src="images/avtr_icon.png"alt="icon"> <span>Change Tech</span> </a> </li>
                    <li> <a href="#"><img src="images/res.png"alt="icon"> <span>Apply Discount</span> </a> </li>
                    <li> <a href="#"><img src="images/dlt.png"alt="icon"> <span>Remove</span> </a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services m-b-0 square_bg_box">
          <div class="col-md-12 col-sm-12">
            <div class="service_box m-b-0">
              <div class="col-md-2 col-sm-4">
                <div class="price_box round_price">
                  <h5>$50</h5>
                </div>
              </div>
              <div class="col-md-8 col-sm-8">
                <h4 class="price_heading">CND Island Tropical Pedicure</h4>
              </div>
              <div class="col-md-2 col-sm-2">
                <p class="text-right">Sean Than <br/> <span>Confirmed</span></p>
              </div>
            </div>
          </div>      
        </div>
        <div class="col-md-12 col-sm-12 text-center">
          <div class="add-list">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <p>Add</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="payment_option">
          <div class="col-md-4 col-sm-4">
            <img src="images/big-icons/4qualityair_comkeywordsgoogleanalyticsworkingreport_ (2).png">
          </div>
          <div class="col-md-8 col-sm-8">
            <p>Credit Card</p>
          </div>
        </div>
        <div class="payment_option">
          <div class="col-md-4 col-sm-4">
            <img src="images/big-icons/funds.png">
          </div>
          <div class="col-md-8 col-sm-8">
            <p>Cash</p>
          </div>
        </div>
        <div class="payment_option">
          <div class="col-md-4 col-sm-4">
            <img src="images/big-icons/gift.png">
          </div>
          <div class="col-md-8 col-sm-8">
            <p>Gift Cards</p>
          </div>
        </div>
        <div class="payment_option">
          <div class="col-md-4 col-sm-4">
            <img src="images/big-icons/discount.png">
          </div>
          <div class="col-md-8 col-sm-8">
            <p>Discount</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="down-btns">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 text-left">
        <button type="button"><i class="fa fa-times" aria-hidden="true"></i> CANCEL</button>
      </div>
      <div class="col-md-6 col-sm-6 text-right">
        <button type="submit" class="sky-done-btn">Schedule</button>
      </div>
    </div>
  </div>
</section>