<app-header></app-header>

<section class="main_view">
  <div class="container">
    <!-- <div class="ticket_details">
      <a href="javascript:void(0);" routerLink="/services">
        <div class="ticket_round"> 
          <img src="https://wiseapps.online/paris/assets/XD/ticket (2).png"  alt="icon">
          <h6>Service Manager</h6>
        </div>
      </a>
      <a href="javascript:void(0);" routerLink="/all-employee">
        <div class="ticket_round"> 
          <img src="https://wiseapps.online/paris/assets/XD/ticket (2).png"  alt="icon">
          <h6>Employee Manager</h6>
        </div>
      </a>
      <div class="ticket_round"> 
        <img src="https://wiseapps.online/paris/assets/XD/ticket (3).png"  alt="icon">
        <h6>Turn List</h6>
      </div>
      <a href="javascript:void(0);" routerLink="/waiting">
        <div class="ticket_round"> 
          <img src="https://wiseapps.online/paris/assets/XD/ticket (2).png"  alt="icon">
          <h6>Waiting List</h6>
        </div>
      </a>
      <div class="ticket_round"> 
        <img src="https://wiseapps.online/paris/assets/XD/ticket (4).png"  alt="icon">
        <h6>Payroll</h6>
      </div>
      <div class="ticket_round"> 
        <img src="https://wiseapps.online/paris/assets/XD/ticket (5).png"  alt="icon">
        <h6>Ticket Manager</h6>
      </div>
      <div class="ticket_round"> 
        <img src="https://wiseapps.online/paris/assets/XD/ticket (6).png"  alt="icon">
        <h6>Appointment</h6>
      </div>
      <div class="ticket_round"> 
        <img src="https://wiseapps.online/paris/assets/XD/ticket (7).png"  alt="icon">
        <h6>Book</h6>
      </div>
      <a href="javascript:void(0);" routerLink="/manage-customer">
        <div class="ticket_round"> 
          <img src="https://wiseapps.online/paris/assets/XD/ticket (1).png"  alt="icon">
          <h6>Customer Manager</h6>
        </div>
      </a>
    </div> -->

    <div class="home-list">
      <div class="row">
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);" routerLink="/services">
            <div class="round-white-bg">
            <img src="https://wiseapps.online/paris/assets/images/icons/waiting_list.png" alt="homeimg">
            <p>Service list</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);" routerLink="/waiting">
            <div class="round-white-bg">
            <img src="https://wiseapps.online/paris/assets/images/icons/waiting_list.png" alt="homeimg">
            <p>Waiting list</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);" routerLink="/turn-list">
            <div class="round-white-bg">
              <img src="https://wiseapps.online/paris/assets/images/icons/Turnlist.png" alt="homeimg">
              <p>Turn list</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);" routerLink="/gift-card">
            <div class="round-white-bg">
              <img src="https://wiseapps.online/paris/assets/images/icons/Gift.png" alt="homeimg">
              <p>Gift card</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);">
            <div class="round-white-bg">
              <img src="https://wiseapps.online/paris/assets/images/icons/income.png" alt="homeimg">
              <p>Income</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);">
            <div class="round-white-bg">
              <img src="https://wiseapps.online/paris/assets/images/icons/reviews.png" alt="homeimg">
              <p>Reviews</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);" routerLink="/all-employee">
            <div class="round-white-bg">
              <img src="https://wiseapps.online/paris/assets/images/icons/technician.png" alt="homeimg">
              <p>Technician</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0);" routerLink="/manage-customer">
            <div class="round-white-bg">
              <img src="https://wiseapps.online/paris/assets/images/icons/customer.png" alt="homeimg">
              <p>Customer</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center">
          <a href="javascript:void(0)">
            <div class="round-white-bg">
              <img src="https://wiseapps.online/paris/assets/images/icons/task.png" alt="homeimg">
              <p>Task</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>