<app-emp-header></app-emp-header>

  <section class="">
    <div class="container">
      <div class="home-list">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="javascript:void(0);" routerLink="/emp-ticket">
              <div class="round-white-bg">
                <img src="https://wiseapps.online/paris/assets/images/icons/Turnlist.png" alt="homeimg">
                <p>Tickets</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="javascript:void(0);" routerLink="/emp-appointment">
              <div class="round-white-bg">
                <img src="https://wiseapps.online/paris/assets/images/icons/income.png" alt="homeimg">
                <p>Appointments</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="javascript:void(0);" routerLink="/emp-schedule">
              <div class="round-white-bg">
                <img src="https://wiseapps.online/paris/assets/images/icons/reviews.png" alt="homeimg">
                <p>Schedule</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="javascript:void(0);" routerLink="/emp-profile">
              <div class="round-white-bg">
                <img src="https://wiseapps.online/paris/assets/images/icons/technician.png" alt="homeimg">
                <p>Profile</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 text-center">
            <a href="javascript:void(0);">
              <div class="round-white-bg">
                <img src="https://wiseapps.online/paris/assets/images/icons/waiting_list.png" alt="homeimg">
                <p>Income</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>